body {
  background-color:#073642;
}

a {
  color:#268BD2;
  text-decoration:none;
  font-weight:bold;
}

a:visited {color:#6C71C4}
a:hover {color:#2AA198}

#Container {
  margin:auto;
  padding:0;
  min-width:38rem;
  max-width:52rem;
}

#Header {
  margin:1rem auto;
  padding:0.9rem;
  background-color:#002B36;
  font-family:sans-serif;
  text-align:center;
  border-color:#1C1C1C;
  border-style:solid;
  border-width:1px;
  border-radius:5px;
}

#Header h1 {
  color:#CB4B16;
  margin:0;
}

ul#menu {
  margin:0 0 0.35em 0;
  padding: 0;
  min-width:52rem;
}

ul#menu li {
  display:inline;
  font-family:sans-serif;
}

ul#menu li.no_link {
  padding: 0.35em 1em 0.35em 1em;
  font-weight:bold;
  color:#93a1a1;
  background-color:#002B36;
  border-radius: 5px 5px 0 0;
  border-style:solid;
  border-color:#1C1C1C;
  border-width:1px 1px;
  border-bottom:medium solid #002B36;
}

ul#menu li a {
  padding: 0.35em 1em 0.35em 1em;
  color:#93a1a1;
  background-color:#002B36;
  border-radius: 5px 5px 0 0;
  border-style:solid;
  border-color:#1C1C1C;
  border-width:1px 1px;
}

ul#menu li a:hover {
  color:white;
  background-color:#859900;
}

#Content {
  margin:0;
  padding:0 6.5rem;
  font : 1em/1.5em Verdana, Helvetica, Arial, sans-serif;
  text-align:justify;
  color:#839496;
  background-color:#002B36;
  border-color:#1C1C1C;
  border-style:solid;
  border-width:1px 1px;
  border-radius:0 5px 5px 5px;
}

#Content img {
  width:100%;
  max-width:480px;
  height:auto;
}

#Content img.next_previous {
  width:24px;
  height:24px;
}

#Content h1 {
  color:#B58900;
}

#Content h2 {
  color:#859900;
}

#next_previous_year {
}

#Update {
  padding-bottom:1rem;
  text-align:right;
  font-size:small;
  font-style:oblique;
}

pre .bash {
  font-family:monospace;
  text-align:left;
}

ul.file_listing {
  list-style-image:url(./icones/default.png);
}

.file_listing li.pdf { 
  list-style-image:url(./icones/pdf.png);
}

.file_listing li.dir {
  list-style-image:url(./icones/dir.png);
}

.file_listing li.txt {
  list-style-image:url(./icones/txt.png);
}

.file_listing li.png {
  list-style-image:url(./icones/png.png);
}

.file_listing li.source {
  list-style-image:url(./icones/source.png);
}

.file_listing li.download {
  list-style-image:url(./icones/download.png);
}

.file_listing li.js {
  list-style-image:url(./icones/js.png);
}
