body{
	width:800px;
	margin:auto;
}
.applet
{
border: 1px solid grey;
padding:5px;
}

.ball{
fill:red;
}

line
{
stroke:blue;
}

.g1
{
fill:#ff6600;
}

.g2
{
fill:#37abc8;
}

/* APPLET 1 - DISTANCES */ 



.tick
{
color:black;}

.axis
{
stroke:black;
}

.ball:hover{
fill:green;
} 

text.normalize
{
fill:#00ccff;
}

line.normalize 
{
stroke:#00ccff;
}


line.standardize
{
stroke:#ff7f2a;
}

text.standardize
{
fill:#ff7f2a;
}

